body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
    font-family: Arial, sans-serif;
}
.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    background-color: blueviolet;
}
.question{
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
button:hover {
    background-color: lightgreen;
}

#score {
    margin-top: 20px;
}
